body {
    background-image: url("./images//polishflag.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 10px 0;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 97vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    background: -webkit-linear-gradient(white, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 30px;
    height: 80%
}

.tz-gallery .lightbox img {
    height: 80%;
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.novels{
    height: 100%;
}

.video-novels, .video-volunteer{
    width: 100%;
    height: 27.5vh
}

.twitter{
    width: 30px;
    height: 30px
}

.soldier{
 width: 300px;
 height: 23vh
}

.card{ 
    height: 330px;
    border: 5px solid red;
    border-style: outset;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

.lightbox{
    height: 330px
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

@media(max-width: 321px){    
.tz-gallery .lightbox img {
    height: 70%;
}
.card{
    height: 200px
}
.lightbox{
    height: 200px;
}
.video-novels, .video-volunteer{
    height: 14vh
}
.gallery-container p.page-description {
font-size: 80%
}
.h1, h1{
    font-size: 1.5rem
}
}

@media(min-width: 322px) and (max-width: 767px){    
    .soldier{
    height: 100%;
}
.tz-gallery .lightbox img {
    height: 70%;
}
}

@media(min-width: 435px) and (max-width: 767px){
    .novels{
        height: 100%
    }
}

@media(min-width: 768px) and (max-width: 991px){
    .tz-gallery .lightbox img {
        height: 80%;
    }
    .card{
        height: 180px
    }
    .lightbox{
        height: 180px;
    }
    .soldier{
        height: 13vh
    }
    .video-novels, .video-volunteer{
        height: 15vh
    }
}

@media(min-width: 991px) and (max-width: 1199px){
    .soldier{
        height: 18.9vh
    }
    }

   .gallery-container {
        font-family: "Exo", sans-serif;
        color: #fff;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradientBG 15s ease infinite;
        border: 5px solid red;
        border-style: outset
    }
    
    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .container-background {
        width: 100%;
        position: absolute;
        top: 35%;
        text-align: center;
    }
    
    h1 {
        font-weight: 300;
    }
    
    h3 {
        color: #eee;
        font-weight: 100;
    }
    
    h5 {
        color:#eee;
        font-weight:300;
    }
    
    a,
    a:hover {
        text-decoration: none;
        color: #ddd;
    }